@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Manrope:wght@200..800&display=swap');


 header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    background: rgba(0, 0, 0, 0);
   .header{
    width: 1055px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 195px;

    @media screen and (min-width:768px) and (max-width: 1200px) {
        margin: 38px 31px;
    }

    @media screen and (min-width:320px) and (max-width: 767px) {
        margin: 27px 17px;
    }
    
    &__navs {
        display: flex;
        gap: 20px;

        &-but {
            cursor: pointer;
            display: flex;
            justify-content: center; 
            align-items: center;
            border-radius: 20px;
            border: 1px solid #FFF;
            padding: 10px 16px;
            align-items: center;
            gap: 20px;
            background-color: rgba(0, 0, 0, 0);

        }
        .but {
            &__text{
                color: #FFF;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

        @media screen and (min-width:768px) and (max-width: 1200px) {
            display: none;
        }

        @media screen and (min-width:320px) and (max-width: 767px) {
            display: none;
        }
    }
    


   }
        .burger-button {
            display: none;

            @media screen and (min-width:768px) and (max-width: 1200px) {
                display: block;
            }

            @media screen and (min-width:320px) and (max-width: 767px) {
                display: block;
            }
        }
 }




.first-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);


    &__position {
        width: 1440px;
        height: 800px;
        position: relative;

        &-text {
            position: absolute;
            top: 491px;
            left: 191px;

            @media screen and (min-width:768px) and (max-width: 1200px) {
                top: 273px;
                left: 34px;
            }

            @media screen and (min-width:320px) and (max-width: 767px) {
                top: 412px;
                left: 21px;
            }


            &--active {
                width: 846px;
                height: 190px;
                color: #FFF;
                font-family: DynaPuff;
                font-size: 80px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                @media screen and (min-width:768px) and (max-width: 1200px) {
                    width: 521px;
                }

                @media screen and (min-width:320px) and (max-width: 767px) {
                    width: 326px;
                    font-size: 48px;
                }
            }
        }
    }
}


.wrapper-for-meet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #202020;

    .meet {
        width: 1440px;
        height: 470px;
        position: relative;

        @media screen and (min-width:768px) and (max-width: 1200px) {
            width: 768px;
        }

        @media screen and (min-width:320px) and (max-width: 767px) {
            width: 375px;
        }

        &__meet-svg {
            position: absolute;
            right: 0;
            top: -40px;

            @media screen and (min-width:768px) and (max-width: 1200px) {
                right: -170px;
            }

            @media screen and (min-width:320px) and (max-width: 767px) {
                display: none;
            }
        }

        &__meet-svg-another {
            position: absolute;
            right: 0;
            top: -40px;
            display: none;

            @media screen and (min-width:320px) and (max-width: 767px) {
                display: block;
                top: 10px;
                right: -40px;
            }
        }


        .meet-text {
            width: 540px;
            margin: 101px 0 102px 191px;
            display: flex;
            flex-direction: column;
            gap: 40px;

            @media screen and (min-width:768px) and (max-width: 1200px) {
                margin-left: 33px;
            }

            @media screen and (min-width:320px) and (max-width: 767px) {
                width: 342px;
                margin: 72px 0 76px 16px;
            }

            &__meet-title {
                color: #FAEB49;
                font-family: DynaPuff;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                @media screen and (min-width:320px) and (max-width: 767px) {
                    font-size: 36px;
                }
            }

            &__description {
                color: #FFF;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                @media screen and (min-width:320px) and (max-width: 767px) {
                    font-size: 15px;
                }
            }

            .meet-clients {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 96px;

                @media screen and (min-width:320px) and (max-width: 767px) {
                    gap: 14px;
                }

                &__clients-details {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    color: #FFF;
                    font-family: DynaPuff;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;

                    @media screen and (min-width:320px) and (max-width: 767px) {
                        font-size: 36px;
                    }
                }

                &__clients-details-other {
                    color: #FFF;
                    font-family: Manrope;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }
    }
}


.project-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #3C3C3C;

    .project {
        width: 1440px;
        height: 1460px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 63px;

        @media screen and (min-width:768px) and (max-width: 1200px) {
            height: 1590px;
        }

        @media screen and (min-width:320px) and (max-width: 767px) {
            height: 1206px;
        }

        @media screen and (min-width:768px) and (max-width: 1200px) {
            gap: 102px;
        }

        .banking {
            display: flex;
            width: 1010px;
            padding: 24px 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            border-radius: 24px;
            background: #FFFEF2;
            position: relative;

            @media screen and (min-width:768px) and (max-width: 1200px) {
                width: 703px;
            }

            @media screen and (min-width:320px) and (max-width: 767px) {
                width: 319px;
                height: 456px;
                padding: 16px;
            }

            &__img {
                width: 970px;
                height: 458px;
                padding: 20px;

                @media screen and (min-width:768px) and (max-width: 1200px) {
                    width: 703px;
                    height: 458px;
                    padding: 0;
                }

                @media screen and (min-width:320px) and (max-width: 767px) {
                    width: 319px;
                    height: 278px;
                    padding: 0;
                }
            }

            .banking-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 22px;
                align-self: stretch;

                &__banking-title {
                    color: #565656;
                    font-family: DynaPuff;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;

                    @media screen and (min-width:320px) and (max-width: 767px) {
                        font-size: 32px;
                    }
                }

                &__banking-description {
                    color: #000;
                    font-family: Manrope;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;

                    @media screen and (min-width:320px) and (max-width: 767px) {
                        font-size: 15px;
                    }
                }
            }

        }

        .banking-cards-funct {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;

            @media screen and (min-width:768px) and (max-width: 1200px) {
                grid-template-columns: repeat(2, 1fr);

                #banking-cards-third {
                    display: none;
                }
            }

            @media screen and (min-width:320px) and (max-width: 767px) {
                display: block;

                #banking-cards-third,
                #banking-cards-second {
                    display: none;
                }
            }

            .banking-cards {
                display: flex;
                width: 285px;
                height: 545px;
                padding: 20px;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                flex-shrink: 0;
                position: relative;
                border-radius: 24px;
                background: #FFFEF2;

                @media screen and (min-width:768px) and (max-width: 1200px) {
                    width: 320px;
                    height: 634px;
                }

                @media screen and (min-width:320px) and (max-width: 767px) {
                    width: 319px;
                    height: 456px;
                }

                &__img-cards {
                    width: 285px;
                    height: 338px;

                    @media screen and (min-width:768px) and (max-width: 1200px) {
                        width: 323px;
                        height: 448px;
                    }

                    @media screen and (min-width:320px) and (max-width: 767px) {
                        width: 319px;
                        height: 456px;
                    }
                }

                .banking-cards-text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 22px;
                    align-self: stretch;

                    &__banking-cards-title {
                        color: #565656;
                        font-family: DynaPuff;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;

                        @media screen and (min-width:320px) and (max-width: 767px) {
                            font-size: 24px;
                        }
                    }

                    &__banking-cards-description {
                        color: #000;
                        font-family: Manrope;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;

                        @media screen and (min-width:320px) and (max-width: 767px) {
                            font-size: 15px;
                        }
                    }
                }

            }
        }
    }
}

.graphics-design-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: #202020;


    .graphics-design {
        width: 1440px;
        height: 1220px;
        display: flex;
        align-items: center;
        flex-direction: column;

        @media screen and (min-width:768px) and (max-width: 1200px) {
            height: 1122px;
        }

        @media screen and (min-width:320px) and (max-width: 767px) {
            height: 1260px;
        }


        &__graphics-design-text {
            margin-top: 82px;
            margin-bottom: 38px;
            width: 1055px;
            color: #FFF;
            font-family: DynaPuff;
            font-size: 80px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            @media screen and (min-width:768px) and (max-width: 1200px) {
                width: 704px;
            }

            @media screen and (min-width:320px) and (max-width: 767px) {
                margin-top: 58px;
                margin-bottom: 28px;
                width: 327px;
                font-size: 36px;
            }
        }



        &__newspaper {
            border-radius: 40px;
            background: url("../images/unsplash_rqIfy1UyIzE.png");
            background-size: cover;
            background-position: center;
            width: 1055px;
            height: 414px;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;

            @media screen and (min-width:768px) and (max-width: 1200px) {
                width: 704px;
                height: 414px;
            }

            @media screen and (min-width:320px) and (max-width: 767px) {
                width: 343px;
                height: 325px;
            }


            &::before {
                content: "";
                background-image: url(../images/SoftStar.svg);
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                z-index: 1;
                width: 268px;
                height: 268px;
                top: 67px;

                @media screen and (min-width:320px) and (max-width: 767px) {
                    width: 172px;
                    height: 172px;
                }
            }
        }

        .graphics-design-photo {
            margin-top: 26px;
            display: flex;
            gap: 26px;

            @media screen and (min-width:768px) and (max-width: 1200px) {
                gap: 34px;
            }

            @media screen and (min-width:320px) and (max-width: 767px) {
                flex-direction: column;
                gap: 32px;
                align-items: center;
                justify-content: center;
            }

            &__rectangle6 {
                border-radius: 40px;
                background: url("../images/Rectangle6.png");
                background-size: cover;
                background-position: center;
                width: 514px;
                height: 414px;
                position: relative;
                display: flex;
                align-items: center;
                flex-direction: column;

                @media screen and (min-width:768px) and (max-width: 1200px) {
                    width: 336px;
                    height: 325px;
                }

                @media screen and (min-width:320px) and (max-width: 767px) {
                    width: 343px;
                    height: 325px;
                }

                &::before {
                    content: "";
                    background-image: url(../images/Butterfly.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 187px;
                    height: 191.493px;
                    position: absolute;
                    z-index: 1;
                    top: 111px;

                    @media screen and (min-width:768px) and (max-width: 1200px) {
                        width: 147px;
                        height: 151px;
                        top: 87px;
                    }

                    @media screen and (min-width:320px) and (max-width: 767px) {
                        width: 134px;
                        height: 137px;
                        top: 94px;
                    }
                }
            }

            &__rectangle7 {
                border-radius: 40px;
                background: url("../images/Rectangle7.png");
                background-size: cover;
                background-position: center;
                width: 514px;
                height: 414px;
                position: relative;
                display: flex;
                align-items: center;
                flex-direction: column;

                @media screen and (min-width:768px) and (max-width: 1200px) {
                    width: 336px;
                    height: 325px;
                }

                @media screen and (min-width:320px) and (max-width: 767px) {
                    width: 343px;
                    height: 325px;
                }

                &::before {
                    content: "";
                    background-image: url(../images/Asterisk.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 233px;
                    height: 225px;
                    position: absolute;
                    z-index: 1;
                    top: 94px;

                    @media screen and (min-width:768px) and (max-width: 1200px) {
                        width: 183px;
                        height: 177px;
                        top: 74px;
                    }

                    @media screen and (min-width:320px) and (max-width: 767px) {
                        width: 148px;
                        height: 143px;
                        top: 91px;
                    }
                }
            }
        }
    }
}

.quote-backgroud {
    background-image: url("../images/Rectangle8.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .quote {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1440px;
        height: 800px;

        @media screen and (min-width:320px) and (max-width: 767px) {
            height: 498px;
        }

        &__quote-text {
            color: #FFF;
            text-align: center;
            font-family: DynaPuff;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0 190px;

            @media screen and (min-width:768px) and (max-width: 1200px) {
                width: 704px;
                margin: 0 30px;
            }

            @media screen and (min-width:320px) and (max-width: 767px) {
                width: 343px;
                margin: 0 16px;
                font-size: 24px;
            }
        }
    }
}

.footer-background {
    width: 100vw;
    background: #202020;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer {
        width: 1440px;
        height: 530px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media screen and (min-width:768px) and (max-width: 1200px) {
            height: 408px;
        }

        @media screen and (min-width:320px) and (max-width: 767px) {
            height: 342px;
        }

        .footer-button {
            margin-top: 78px;
            display: flex;
            gap: 45px;
            padding: 42px 137px;
            border-radius: 139px;
            border: 1px solid var(--Gray-6, #F2F2F2);

            @media screen and (min-width:768px) and (max-width: 1200px) {
                margin-top: 96px;
                width: 650px;
                height: 100px;
                padding: 40px;
            }

            @media screen and (min-width:320px) and (max-width: 767px) {
                margin-top: 53px;
                width: 342px;
                height: 55px;
                padding: 15px;
            }
            .footer-button-svg {
                display: block;
                @media screen and (min-width:320px) and (max-width: 767px) {
                    display: none;
                }
            }
            .footer-button-svg-other{
                display: none;
                @media screen and (min-width:320px) and (max-width: 767px) {
                    display: block;
                }
            }

            .footer-button-text {
                display: flex;
                flex-direction: column;
                gap: 17px;

                @media screen and (min-width:320px) and (max-width: 767px) {
                    gap: 4px;
                }



                &__footer-button-text-title {
                    color: #FFF;
                    text-align: center;
                    font-family: DynaPuff;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;

                    @media screen and (min-width:320px) and (max-width: 767px) {
                        font-size: 20px;
                    }
                }

                &__footer-button-text-description {
                    display: flex;
                    align-items: center;
                    gap: 24px;

                    .description-parfgraph {
                        color: #FFF;
                        text-align: center;
                        font-family: Manrope;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        @media screen and (min-width:320px) and (max-width: 767px) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .social-media {
            display: flex;
            gap: 34px;
            margin-top: 163px;
            margin-bottom: 21px;
            @media screen and (min-width:768px) and (max-width: 1200px) {
                margin-top: 60px;
            }

            @media screen and (min-width:320px) and (max-width: 767px) {
                margin-top: 113px;
            }
        }
    }
}

.copyright {
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



@media screen and (min-width:768px) and (max-width: 1200px) {}

@media screen and (min-width:320px) and (max-width: 767px) {}